<div class="ordered">
    <h2 [ngStyle]="{
        'background-color': getBookedQuantity(trips) > 10 ? 'green' : 'red'}">
      Zamówiłeś już: {{ getBookedQuantity(trips) }} wycieczek!
    </h2>
  </div>

<div class="trips" *ngIf="trips!=[]">
    <div class="trip" [ngClass]="{
        'most-expensive':trip.price==getMaxPrice(trips).price,
        'least-expensive':trip.price==getMinPrice(trips).price}"
        *ngFor="let trip of trips">
        <img src="{{trip.imagelink}}" alt="{{trip.name}}">
        <h3>{{trip.name}}</h3>
        <p class="country">Kraj: {{trip.country}}</p>
        <p class="date">Termin: {{trip.startdate}}-{{trip.enddate}}</p>
        <p class="desc">{{trip.shortdesc}}</p>
        <div class="bottom">
            <span class="price">{{ trip.price }} {{ trip.currency }}</span>
            <div class="btn-container">
                <div *ngIf="trip.noofplaces>=1" class="addCart btn" (click)="tripAdd(trip)">
                    ✚
                </div>
                <div class="removeCart btn" (click)="tripRemove(trip)">⚊</div>
            </div>
        </div>
        <div class="bottom-info">
            <app-rating (ratioChange)="likesAndDislikes(trip,$event)" [triplikes]="trip.likes" [tripdislikes]="trip.dislikes"></app-rating>
            <p class="quantity">Zakupione miejsca: {{trip.quantity}}</p>
        </div>
        <p *ngIf="trip.noofplaces<=5" class="remaining">
            Pozostało {{trip.noofplaces}} miejsc!
        </p>
        <p *ngIf="trip.noofplaces>5" class="remaining"></p>
        <div class="delete" (click)="tripDeleter(trip)">USUŃ WYCIECZKĘ!</div>
    </div>
</div>

<!-- <app-addtrip="formSubmitAdder($event)">
</app-addtrip>  -->