nav{
    position: sticky;
    top: 0;
}

main{
    min-width: 350px;
    border: 15px;
    margin: 3em 2em;
    padding:1em;
}

.content{
    display: flex;
    justify-content: center;
    width: 100%;
}