<h1>Wybierz Temat</h1>
<div class="main">
    <div class="inside">
        <h2>The Basics</h2>
        <p>Core Angular basics you have to know</p>
        <button (click)="clickBasics()">Learn More</button>
    </div>
    <div class="inside">
        <h2>Components</h2>
        <p>Components are a core concept for building Angular UIs and apps</p>
        <button (click)="clickComponents()">Learn More</button>
    </div>
    <div class="inside">
        <h2>Events</h2>
        <p>Events are important in Angular</p>
        <button (click)="clickEvents()">Learn More</button>
    </div>
</div>