#div0{
    margin-left: auto;
    margin-right: 30%;
    width: 70%;
    height: 500px;
}

#div1{
    padding: 20px;
    margin-top: 30px;
    margin-right: 40px;
}

#div2{
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 30px;

}

.fixed{
    position: fixed;
  bottom: 0;
  right: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }